<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devinstance.contape">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACESS.NETWORK.STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/primeirologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/primeirologo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.devinstance.contape.controller.group_activity.AddGroupMember"></activity>
        <activity android:name="com.devinstance.contape.controller.group_activity.ListGroupActivity" />
        <activity
            android:name="com.devinstance.contape.controller.group_activity.GroupActivity"
            android:label="@string/title_activity_grupo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.devinstance.contape.SendInviteActivity" />
        <activity android:name="com.devinstance.contape.controller.group_activity.AddGroupActivity" />
        <activity android:name="com.devinstance.contape.controller.transaction_activity.AddProfitActivity" />
        <activity android:name="com.devinstance.contape.controller.transaction_activity.AddExpenseActivity" />
        <activity
            android:name="com.devinstance.contape.controller.transaction_activity.TransactionActivity"
            android:label="@string/title_activity_tarefa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.devinstance.contape.controller.login_activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>